div {
    background-color: #3d3333;
    height: 100vh;
    width: 58%;
    margin: auto;
   
    
}

nav {
    background-color: #666;
    height: 10%;
    margin: 15px;
    position: relative;
    top: 15px;
    
}

ul { 
    float: right;
    list-style: none;
    margin: 5px;
}

li {
	border: 5px solid f1f1f1;
	display: inline;
    background-color: #f1f1f1;
    margin: 10px 5px;
    padding: 15px 30px;
    float: left;
    box-shadow: 5px 5px 5px #3d3333;
    font-family: 'Righteous';
    font-size: 20px;
    color: black;
    font-weight: bold;

}

li a {
    color: black;
    text-decoration: none;
}

li:hover {
    background-color: #ccc;
   
}
li:hover > a {
    color:white;

}



section {
    background-color: #f1f1f1 ;
    position: relative;
    height: 73%;
    top: 15px;
    margin: 15px;
    overflow: auto;

}

footer {
    background-color:#666;
    height: 8%;
    position: relative;
    top: 15px;
    margin: 15px;
    text-align: center;

}

footer > a {
    font-size: 11px;
    color: white;
    position: relative;
    top: 15%;
}

